@if (url && token) {
  <ngx-extended-pdf-viewer
    [src]="url"
    [authorization]="this.token"
    [height]="'90vh'"
    [zoom]="'page-fit'"
    [showToolbar]="true"
    [showSidebarButton]="false"
    [showFindButton]="false"
    [showPagingButtons]="false"
    [showSignatureEditor]="false"
    [showHighlightEditor]="false"
    [showDrawEditor]="false"
    [showCommentEditor]="false"
    [showStampEditor]="false"
    [showTextEditor]="false"
    [showZoomButtons]="true"
    [showPresentationModeButton]="false"
    [showOpenFileButton]="false"
    [showPrintButton]="false"
    [showDownloadButton]="false"
    [showSecondaryToolbarButton]="true"
    [showMovePageButton]="false"
    [showRotateButton]="false"
    [showRotateCwButton]="false"
    [showRotateCcwButton]="false"
    [showHandToolButton]="false"
    [showScrollingButtons]="false"
    [showSpreadButton]="false"
    [showPropertiesButton]="false"
  ></ngx-extended-pdf-viewer>
}
